*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body,
#root {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

@font-face {
  font-family: "OpenSans", sans-serif;
  font-style: normal;
  font-weight: 400;
  src: url(../src/fonts/OpenSans-Regular.woff2) format(woff2),
    url(../src/fonts/OpenSans-Regular.woff) format(woff);
}
@font-face {
  font-family: "OpenSans", sans-serif;
  font-style: bold;
  font-weight: 700;
  src: url(../src/fonts/OpenSans-Bold.woff2) format(woff2),
    url(../src/fonts/OpenSans-Bold.woff) format(woff);
}

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  font-family: "OpenSans", sans-serif;
  font-size: 20px;
  color: #000;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 50px;
}

.page-header {
  padding: 20px 0;
}

.intro .container {
  padding-right: 550px;
}

.intro {
  min-height: 610px;
  padding-top: 160px;
  padding-bottom: 120px;
  background-image: url("../src/intro.png");
  background-size: cover;
  background-position: center;
  color: #fff;
  box-sizing: border-box;
}

.intro-title {
  margin-bottom: 30px;
  font-size: 50px;
  font-weight: bold;
  text-shadow: 2px 2px 4px #000000;
}

.intro-text-wrapper p:not(:last-child) {
  margin-bottom: 20px;
}

.page-content {
  background-image: linear-gradient(90deg, #fff 50%, #242424 50%);
}

.page-content .container {
  display: grid;
  grid-template-columns: 1fr 260px;
}

.page-section {
  position: relative;
}

.page-section-with-bg::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 99999px;
}

.program-title {
  margin-bottom: 30px;
  font-size: 40px;
  font-weight: 700;
}

.program-text-wrapper p:not(:last-child) {
  margin-bottom: 10px;
}

.program-row {
  display: grid;
  grid-template-columns: 440px 1fr;
  gap: 40px;
  margin-top: 30px;
}

.program-image-wrapper {
  width: 100%;
  height: 320px;
  border-radius: 20px;
  overflow: hidden;
}

.program-image {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.program-subtitle {
  margin-bottom: 20px;
  font-size: 24px;
}

.program-list li:not(:last-child) {
  margin-bottom: 10px;
}

.auditory {
  position: relative;
}

.auditory-content {
  position: relative;
  z-index: 1;
}

.auditory-title {
  margin-bottom: 30px;
  font-size: 40px;
  font-weight: 700;
}

.auditory-top {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.auditory-image-wrapper {
  height: 160px;
  border-radius: 20px;
  overflow: hidden;
}

.auditory-image {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.auditory-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 5px;
  column-gap: 20px;
}

.auditory-bottom {
  margin-top: 30px;
}

.prices-title {
  margin-bottom: 30px;
  font-size: 40px;
  font-weight: 700;
}

.prices-text-wrapper p:not(:last-child) {
  margin-bottom: 10px;
}

.prices-table {
  margin-top: 30px;
  border-collapse: collapse;
  width: 100%;
}

.prices-table th {
  padding: 20px;
  font-weight: 700;
  color: #fff;
  text-align: left;
}

.prices-table td {
  padding: 20px;
  font-size: 16px;
}

.prices-table th:first-child,
.prices-table td:first-child {
  border-radius: 15px 0 0 15px;
}

.prices-table th:last-child,
.prices-table td:last-child {
  border-radius: 0 15px 15px 0;
}

.prices-caption {
  margin-top: 10px;
  font-size: 14px;
  color: #9d9d9d;
}

.services-content {
  position: relative;
  z-index: 1;
}

.services-title {
  margin-bottom: 30px;
  font-size: 40px;
  font-weight: 700;
}

.services-row {
  display: grid;
  grid-template-columns: 1fr 250px;
  gap: 40px;
  margin-top: 30px;
}

.services-text p {
  margin-bottom: 10px;
}

.services-list {
  list-style-type: none;
}

.services-list label {
  font-size: 16px;
}

.services-right {
  display: flex;
  flex-direction: column;
}

.services-price {
  margin-top: auto;
  padding: 20px;
  border-radius: 15px;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  white-space: nowrap;
}

.reviews-title {
  font-size: 40px;
  font-weight: 700;
}

.reviews-item {
  border-radius: 20px;
}

.reviews-item:not(:last-child) {
  margin-bottom: 20px;
}

.reviews-item-image-wrapper {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  overflow: hidden;
}

.reviews-item-content {
  align-self: center;
}

.reviews-item-image {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.reviews-item-text-wrapper {
  font-size: 16px;
}

.reviews-item-text-wrapper p:not(:last-child) {
  margin-bottom: 10px;
}

.reviews-item-author {
  margin-top: 20px;
  font-size: 16px;
}

.page-section.contacts {
  padding-bottom: 80px;
}

.contacts-content {
  border-radius: 20px;
}

.contacts-text-wrapper {
  font-size: 16px;
}

.contacts-text-wrapper p:not(:last-child) {
  margin-bottom: 10px;
}

.contacts-form-bottom {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contacts-tariff-label {
  font-weight: 700;
}

.contacts-address {
  margin-top: 40px;
  font: inherit;
}

.contacts-btn {
  position: relative;
  display: flex;
  justify-content: space-between;
  color: #fff;
  padding: 20px 40px;
  padding-right: 80px;
  border-radius: 15px;
  font-size: 40px;
  font-weight: 700;
  text-decoration: none;
}

.contacts-btn::after {
  content: "";
  position: absolute;
  top: 30px;
  right: 40px;
  width: 40px;
  height: 40px;
  background-image: url(../src/telegram.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.contacts-btn:hover {
  color: rgba(255, 255, 255, 0.5);
}

.contacts-btn:hover::after {
  opacity: 0.5;
}

.sidebar {
  padding: 40px 0 40px 20px;
  color: #fff;
}

.sidebar-title {
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: 700;
}

.sidebar-list {
  padding: 0;
  list-style-type: none;
}

.card-image-link {
  width: 100%;
  height: 160px;
  border-radius: 20px;
  display: block;
  overflow: hidden;
}

.card-image-link:hover {
  opacity: 0.5;
}

.card-image {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.card-image-title {
  margin-top: 10px;
  font-size: 16px;
  font-weight: 400;
}

.card-image-title a {
  color: inherit;
  text-decoration: none;
}

.card-image-title a:hover {
  opacity: 0.5;
}

.page-footer {
  padding: 30px 0;
  color: #000000;
}

.page-footer .container {
  padding-right: 390px;
}

.copyright {
  text-align: center;
}
